<div id="nested-function" class="step">
	<h4>闭包 Closure</h4>
	<p>在一个函数中，定义另一个函数，称为函数嵌套。函数的嵌套将形成一个闭包。</p>
	<pre><code class="javascript"><%= codes.nested_function %></code></pre>
</div>

<div id="closure" class="step">
	<h4>如何理解闭包？</h4>
	<ul>
		<li>外部函数不能访问内嵌函数。</li>
		<li>外部函数也不能访问内嵌函数的参数和变量。</li>
		<li>而内嵌函数可以访问外部函数的参数和变量。</li>
		<li>换一个说法：内嵌函数包含了外部函数的作用域。</li>
	</ul>
	<pre><code class="javascript"><%= codes.scope_chain %></code></pre>
</div>

<div id="closure-2" class="step">
	<h4>如何理解闭包？</h4>
	<ul>
		<li>每次外部函数的调用，内嵌函数都会被创建一次。</li>
		<li>在它被创建时，外部函数的作用域（包括任何本地变量、参数等上下文），会成为每个内嵌函数对象的内部状态的一部分，即使在外部函数执行完并退出后</li>
	</ul>
	<pre><code class="javascript"><%= codes.closure %></code></pre>
</div>