<div id="dynamic" class="step">
	<h3>JavaScript 动态特性</h3>
	<ul>
		<li>动态类型</li>
		<li>Eval</li>
		<li>对象动态更新</li>
		<li>反射</li>
	</ul>
</div>

<div id="dynamic-type" class="step">
	<h4>动态类型</h4>
	<p><code>type</code> 与 <code>value</code> 关联，而不是与 <code>variable</code></p>
	<pre><code class="javascript"><%= codes.dynamic_type %></code></pre>
</div>

<div id="dynamic-eval" class="step">
	<h4>Eval</h4>
	<p>在运行时，将给定的字符串当作代码语句执行</p>
	<pre><code class="php"><%= codes.eval %></code></pre>
</div>

<div id="object-alternation" class="step">
	<h4>对象动态更新</h4>
	<p>对象的属性和方法都可以在运行时，增加、修改、删除</p>
	<pre><code class="javascript"><%= codes.object_alternation %></code></pre>
</div>

<div id="reflection" class="step">
	<h3>反射</h3>
	<pre><code class="javascript"><%= codes.reflection %></code></pre>
</div>