<div id="functional" class="step">
	<h3>函数式编程</h3>
	<h4>First-class function</h4>
	<p>函数是一等公民</p>
	<p>函数在 JS 中是*领导*</p>
</div>

<div id="function-can-do" class="step">
	<h4>函数可以做哪些事？</h4>
	<ul>
		<li>作为参数传递</li>
		<li>作为另一个函数的返回值</li>
		<li>赋值给一个变量</li>
		<li>作为对象的一个方法</li>
	</ul>
	<pre><code class="javascript"><%= codes.function_can_do %></code></pre>
</div>

<div id="variadic" class="step">
	<h4>可变参数</h4>
	<p>函数的参数数量没有限制</p>
	<p>可以通过参数名或者 <code>arguments</code> 对象来访问参数</p>
	<pre><code class="javascript"><%= codes.variadic %></code></pre>
</div>