<div id="functional" class="step">
	<h3>函数式编程</h3>
	<h4>First-class function</h4>
	<p>函数是 JavaScript 中的<span class="red">一等公民</span></p>
</div>

<div id="function-can-do" class="step">
	<h4>函数可以做哪些事？</h4>
	<ul>
		<li>作为<span class="underline">参数</span>传递</li>
		<li>作为另一个函数的<span class="underline">返回值</span></li>
		<li>赋值给一个<span class="underline">变量</span></li>
		<li>作为对象的一个<span class="underline">方法</span></li>
	</ul>
	<pre><code class="javascript"><%= codes.function_can_do %></code></pre>
</div>

<div id="variadic" class="step">
	<h4>可变参数</h4>
	<p>函数的参数数量<span class="underline">没有限制</span></p>
	<p>可以通过参数名或者 <code>arguments</code> 对象来访问参数</p>
	<pre><code class="javascript"><%= codes.variadic %></code></pre>
</div>