<div id="object-oriented" class="step">
	<h3>JavaScript 是面向对象的</h3>
	<p>JavaScript : 基于原型的面向对象</p>
</div>

<div id="class" class="step">
	<h4>类</h4>
	<p>JavaScript 中没有 <code>class</code> ，<span class="underline" style="padding-bottom:3px;"><code>function</code> 即 <code>class</code></span></p>
	<pre><code class="javascript"><%= codes.class %></code></pre>
</div>

<div id="instance" class="step">
	<h4>对象 - 类的实例</h4>
	<p>使用 <code>new Func</code> 将创建一个 <code>Func</code> 的实例</p>
	<pre><code class="javascript"><%= codes.instance %></code></pre>
</div>

<div id="constructor" class="step">
	<h4>构造器</h4>
	<p><code>function</code> 即 <code>constructor</code></p>
	<pre><code class="javascript"><%= codes.constructor %></code></pre>
</div>

<div id="property" class="step">
	<h4>属性和方法</h4>
	<p>通过关键字 <code>this</code> 或构造器(函数)的 <code>prototype</code> 来设置类的属性和方法</p>
	<pre><code class="javascript"><%= codes.property %></code></pre>
</div>

<div id="inheritance" class="step">
	<h4>继承</h4>
	<p>通过将子类的 <code>prototype</code> 赋值为父类的一个实例，来实现继承</p>
	<pre><code class="javascript"><%= codes.inheritance %></code></pre>
</div>