<div id="scope" class="step">
	<h4>作用域</h4>
	<p>C语言中的 <code>block scope</code> :</p>
	<pre><code class="c"><%= codes.block_scope %></code></pre>
	<p>JavaScript 中的 <code class="red">function scope</code> :</p>
	<pre><code class="javascript"><%= codes.function_scope %></code></pre>
</div>

<div id="scope-chain" class="step">
	<h4>作用域链 Scope chain</h4>
	<p>访问一个变量时，会从本地变量和参数开始，<span class="underline">逐级向上遍历作用域</span>直到 <code>global scope</code></p>
	<pre><code class="javascript"><%= codes.scope_chain %></code></pre>
</div>